<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorldDBP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- このセクションでは、My.Application.Log のログ構成を定義します。-->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除します -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除して、APPLICATION_NAME をアプリケーション名に置き換えます -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <WorldDBP.My.MySettings>
            <setting name="doFri" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="doMon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="doTue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="doWed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="doSat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="doSun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveTime" serializeAs="String">
                <value>01/01/2020 12:00:00</value>
            </setting>
            <setting name="WorldName" serializeAs="String">
                <value>BackupWorld</value>
            </setting>
            <setting name="doCompress" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="donotBackup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nextBackup" serializeAs="String">
                <value>01/01/2020 12:00:00</value>
            </setting>
            <setting name="doThu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CurDir" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveDir" serializeAs="String">
                <value />
            </setting>
            <setting name="debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="firstExecution" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="numofFilecnt" serializeAs="String">
                <value>10</value>
            </setting>
        </WorldDBP.My.MySettings>
    </userSettings>
</configuration>
